.btn{
    font-size: inherit;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 20px;
    box-sizing: border-box;
    max-width: 190px;
    min-width: 130px;
    margin-bottom: 5px;

}
.btn--primary{
 color: white;
 background-color: hsl(200, 100%, 50%);
}
.btn--primary:hover {
 background-color: hsl(200, 100%, 35%);
}
.btn--danger{
    color: white;
    background-color: hsl(0, 100%, 50%);
   }
   .btn--danger:hover {
    background-color: hsl(0, 100%, 35%);
   }